* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
nav {
  background-color: rgb(132, 106, 72);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left .logo img {
  width: 100px;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  text-transform: uppercase;
}
.right li {
  color: white;
  padding: 10px;
}
.right li:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(132, 106, 72);
}
.container {
  display: flex;
  height: 91vh;
}
aside {
  background-color: rgb(132, 106, 72);
  width: 10%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
aside button {
  height: 10%;
}
a {
  height: 10%;
}
aside a > button {
  width: 100%;
  height: 100%;
}
aside a > button:hover {
  cursor: pointer;
}
main {
  background-color: rgb(234, 224, 224);
  width: 90%;
  padding: 10px;
}
table,
tr {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}
th {
  background-color: dodgerblue;
  color: white;
}
th,
td {
  text-align: center;
  border: 1px solid;
}
