* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
nav {
  position: sticky;
  top: 0;
  background-color: #3559e0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left .logo img {
  width: 100px;
}
.right {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
}
.right li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
  text-transform: uppercase;
}
.right li:hover {
  cursor: pointer;
  background-color: rgb(247, 247, 247);
  color: rgb(34, 131, 241);
}
.container {
  display: flex;
  height: 94vh;
}
.purchase-detail {
  display: none;
  background-color: #e9e6e6;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  height: 600px;
  box-shadow: 4px 8px 8px #999;
  padding: 10px;
}
.purchase-detail-show {
  display: block;
}
.p-list {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  gap: 10px;
}
.high-title,
.high2-title,
.high3-title {
  background-color: rgb(34, 131, 241);
  color: #fff;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  background-color: rgb(34, 131, 241);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-img,
.title-text {
  width: 49%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.title-img img {
  width: 150px;
}
.product {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.p-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.p-list li {
  background-color: tomato;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: center;
}
.order-number {
  display: flex;
  justify-content: space-between;
}
.order-id,
.order-productName,
.category,
.total-product,
.total-price {
  width: 100%;
  display: flex;
  align-items: center;
}
h4 {
  width: 50%;
  text-align: start;
}
.dashboard-title {
  background-color: cadetblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
aside {
  background-color: rgb(34, 131, 241);
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
aside button {
  border: none;
  background-color: rgb(34, 131, 241);
  color: white;
  height: 10%;
  text-transform: uppercase;
}
.dashboard {
  background-color: white;
  color: rgb(34, 131, 241);
}
a {
  height: 10%;
}
aside a > button {
  background-color: rgb(34, 131, 241);
  color: white;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* gap: 10px; */
  padding: 10px;
  text-transform: uppercase;
}
aside a > button:hover {
  cursor: pointer;
}
main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  padding-top: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.top {
  height: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
.high-light1,
.high-light2,
.high-light3 {
  width: 39%;
  height: 100%;
  background-color: whitesmoke;
  box-shadow: 4px 4px 8px #ccc;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.high-light1 .title,
.high-light2 .title,
.high-light3 .title {
  height: 10%;
  padding: 10px;
  text-align: center;
}
.high-light1 .income-detail,
.high-light2 .income-detail,
.high-light3 .income-detail {
  height: 80%;
  background-color: rgb(179, 217, 255);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.mid {
  height: 90%;
  display: flex;
  align-items: start;
  padding: 10px;
}
::-webkit-scrollbar {
  width: 3px;
  color: dodgerblue;
}
table {
  background-color: whitesmoke;
  box-shadow: 4px 4px 8px #ccc;
  width: 100%;
}
caption {
  background-color: cornflowerblue;
  border: 1px solid;
  color: white;
  text-align: center;
  padding: 10px;
}
table,
tr,
th,
td {
  border-collapse: collapse;
  border: 1px solid;
  padding: 10px;
  text-align: center;
}
td button {
  width: 100%;
  border: none;
  padding: 4px;
}
td button:hover {
  cursor: pointer;
}
td .detail-order {
  background-color: green;
  color: white;
}
td .danger {
  background-color: red;
  color: white;
}
