* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
nav {
  background-color: dodgerblue;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left .logo img {
  width: 100px;
}
.right {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  text-transform: uppercase;
}
.right li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
}
.right li:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(34, 131, 241);
}
.container {
  display: flex;
  height: 91vh;
  justify-content: space-between;
  gap: 10px;
  padding: 10px;
}
aside {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90%;
}
main {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  justify-content: start;
  height: 90%;
}
.cart-container {
  width: 100%;
}
.cart-sumary {
  display: flex;
  align-items: center;
  justify-content: center;
}
.title {
  background-color: rgb(101, 161, 220);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.title img {
  width: 150px;
}
.invoice-detail {
  background-color: cadetblue;
  height: 80%;
  padding: 5px;
}
.customer-id {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid dodgerblue;
}
.table {
  width: 100%;
}
.table {
  width: 100%;
  height: 75%;
}
.customer-Id {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}
.invoice-detail {
  background-color: #fff;
  width: 95%;
  height: 90%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.date {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 2px solid dodgerblue;
}
.date-text {
  width: 50%;
  gap: 5px;
}
.times {
  width: 40%;
}
.date-text,
.times {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.total {
  width: 95%;
  display: flex;
  border-bottom: 1px solid white;
  align-items: center;
  justify-content: space-between;
  padding-left: 5px;
  padding-right: 5px;
}
table {
  width: 100%;
  border: none;
  border-collapse: collapse;
}
tr,
th,
td {
  width: 30%;
  border-bottom: 1px solid;
  border-collapse: collapse;
  text-align: center;
  padding: 10px;
}
th {
  background-color: dodgerblue;
  color: white;
}
.checkout {
  width: 95%;
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 5px;
  padding-right: 5px;
}
.checkout > button {
  text-transform: uppercase;
  width: 49%;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  border: none;
}
.checkout > button:hover {
  cursor: pointer;
  box-shadow: 4px 4px 6px #ccc;
}
#checkout {
  background-color: green;
  color: white;
}
#checkout:hover {
  background-color: #fff;
  color: green;
}
#retract {
  background-color: red;
  color: white;
}
.cart-item {
  width: 100%;
  background-color: rgb(109, 109, 224);
  color: white;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.btn-card {
  width: 15%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-title,
.card-text,
.price {
  width: 15%;
  display: flex;
}
.btn {
  background-color: cornflowerblue;
  color: white;
  text-align: center;
  border: none;
  padding: 10px;
}
