* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
nav {
  background-color: rgb(34, 131, 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left .logo img {
  width: 100px;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  text-transform: uppercase;
}
.right li {
  color: white;
  padding: 10px;
}
.right li:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(132, 106, 72);
}
.container {
  display: flex;
  height: 91vh;
}
aside {
  background-color: cornflowerblue;
  width: 10%;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
aside button {
  height: 10%;
}
a {
  height: 10%;
}
aside a > button {
  width: 100%;
  height: 100%;
}
aside a > button:hover {
  cursor: pointer;
}
main {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.products-management {
  display: flex;
  align-items: start;
  gap: 10px;
}
.table-container {
  width: 100%;
}
.form {
  background-color: teal;
  width: 30%;
  color: white;
}
.p-table {
  width: 70%;
}
.form h2 {
  text-align: center;
}
.form input,
.form button {
  border: none;
  padding: 10px;
}
.form button:hover {
  cursor: pointer;
}
.form-category {
  display: block;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.p-category,
.p-name,
.p-price,
.p-quantity,
.p-description {
  display: flex;
  flex-direction: column;
}
.btn-manange {
  display: flex;
  justify-content: space-between;
}
.btn-manange > button {
  width: 49%;
}
table,
tr {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}
th {
  background-color: rgb(69, 90, 111);
  color: white;
}
tr {
  background-color: rgb(0, 179, 255);
  color: white;
}
caption {
  background-color: cornflowerblue;
  color: white;
}
th,
td {
  text-align: center;
  border: 1px solid;
  padding: 10px;
}
td button {
  width: 39%;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}
.edit {
  background-color: rgb(11, 188, 38);
  color: white;
}
.remove,
.table-remove {
  background-color: red;
  color: white;
}
