* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
nav {
  background-color: rgb(34, 131, 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left .logo img {
  width: 100px;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  text-transform: uppercase;
}
.right li {
  color: white;
  padding: 10px;
}
.right li:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(132, 106, 72);
}
.container {
  display: flex;
  height: 92vh;
  overflow: hidden;
}
aside {
  background-color: cornflowerblue;
  width: 20%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
aside button {
  border: none;
  background-color: cornflowerblue;
  color: white;
  height: 10%;
  text-transform: uppercase;
}
a {
  height: 10%;
}
aside a > button {
  background-color: cornflowerblue;
  color: white;
  width: 100%;
  height: 100%;
  border: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  /* gap: 10px; */
  padding: 10px;
  text-transform: uppercase;
}
aside a > button:hover {
  cursor: pointer;
}
.p-manage {
  background-color: white;
  color: cornflowerblue;
}
main {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.btn-add {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.filter-category {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
}
.filter-category select {
  padding: 10px;
}
.search {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.search input {
  width: 100%;
  padding: 10px;
}
.btn-add .add {
  background-color: cornflowerblue;
  width: 10%;
  border: none;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.btn-add .add:active {
  background-color: #fff;
  color: white;
}
.btn-add .add img {
  width: 15px;
}
.products-management {
  display: flex;
  align-items: start;
  gap: 10px;
}
.table-container {
  width: 100%;
}
.form {
  display: none;
}
.show-form {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: teal;
  width: 40%;
  color: white;
}
.p-table {
  width: 100%;
}
tbody {
  overflow-y: scroll;
}
.form h2 {
  text-align: center;
}
.form input,
.form select,
.form button {
  border: none;
  padding: 10px;
}
.form button:hover {
  cursor: pointer;
}
.form-category {
  display: block;
}
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
}
.p-category,
.p-name,
.p-price,
.p-quantity,
.p-description {
  display: flex;
  flex-direction: column;
}
.btn-manange {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.btn-manange > button {
  width: 100%;
  border: none;
}
table,
tr {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid;
}
th {
  background-color: rgb(69, 90, 111);
  color: white;
}
tr {
  background-color: rgb(0, 179, 255);
  color: white;
}
caption {
  background-color: cornflowerblue;
  color: white;
}
th,
td {
  text-align: center;
  border: 1px solid;
  padding: 10px;
}
td button {
  width: 100%;
  padding: 10px;
  border: none;
  text-transform: uppercase;
}
.edit {
  background-color: rgb(11, 188, 38);
  color: white;
  text-align: center;
}
.table-remove {
  background-color: red;
  color: white;
  text-align: center;
}
