* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
body {
  height: 100vh;
  display: flex;
}
aside {
  background-color: rebeccapurple;
  width: 10%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 10px;
}
.btn {
  background-color: #fff;
  list-style-type: none;
  width: 100%;
  height: 10%;
}
main {
  width: 90%;
}
nav {
  background-color: violet;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navBtn {
  width: 50%;
  display: flex;
  justify-content: space-around;
}
.navBtn li {
  list-style-type: none;
  padding: 10px;
}
.navBtn li:hover {
  cursor: pointer;
  background-color: #fff;
  color: blueviolet;
}
form {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
form input {
  width: 70%;
  padding: 15px;
}
form button {
  width: 20%;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.right {
  width: 30%;
  display: flex;
  justify-content: space-evenly;
}
.dropdown {
  display: none;
}
.drop-category {
  width: 10%;
  background-color: violet;
  position: absolute;
  top: 65px;
  left: 500px;
  display: block;
}
a {
  width: 30%;
  text-decoration: none;
  padding: 10px;
}
button {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: none;
  padding: 10px;
}
button:hover {
  cursor: pointer;
  background-color: #ba6666;
  color: white;
  border-radius: 10px;
  transition: 0.5 ease;
}
.container {
  width: 100%;
  height: 94%;
  display: flex;
}
.card-container {
  width: 70%;
  padding: 10px;
}
.card {
  background-color: rebeccapurple;
  width: 18%;
  height: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .img {
  background-color: #ba6666;
  width: 100%;
  height: 60%;
}
.product-name {
  color: white;
  display: flex;
  align-items: center;
}
.card .detail {
  height: 30%;
  color: white;
}
.cart-summary {
  width: 30%;
}
.cart-title {
  background-color: rgb(115, 183, 183);
  color: white;
  height: 8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.cart-container {
  height: 93%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: scroll;
}
.cart-container::-webkit-scrollbar {
  width: 5px;
  background-color: red;
}
.cart-item {
  background-color: rgb(211, 161, 161);
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.cart-img {
  background-color: teal;
  width: 10%;
  height: 100%;
}
.btn-cart {
  display: flex;
  align-items: center;
  gap: 10px;
}
