* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
nav {
  background-color: rgb(34, 131, 241);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 2px solid white;
}
.left {
  width: 30%;
}
.left .logo img {
  width: 100px;
}
.search-wrapper {
  position: relative;
  width: 50px;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  box-shadow: 0 25px 35px rgba(0, 0, 0, 0.1);
  transition: 0.4s;
  border-radius: 100px;
}

.search-wrapper .search {
  position: relative;
  min-width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  cursor: pointer;
}

.search-wrapper .search i {
  color: #111;
  font-size: 1.5rem;
}

.search-wrapper .close i {
  color: #555;
  font-size: 1.5rem;
}

.search-wrapper .close {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
  scale: 0;
}

.search-wrapper .searchInput {
  position: absolute;
  left: 60px;
  width: calc(100% - 120px);
  height: 100%;
  line-height: 60px;
}

.search-wrapper .searchInput input {
  position: absolute;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}
/* JS classes */
.search-wrapper.active {
  width: 30%;
  transition-delay: 0.3s;
}
.search-wrapper.active .close {
  scale: 1;
  transition-delay: 0.5s;
}
.right {
  width: 25%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  text-transform: uppercase;
}
.right li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 10px;
}
.right li:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(34, 131, 241);
}
.container {
  display: flex;
  height: 92dvh;
}
.modal {
  display: none;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}
.modal-content {
  position: relative;
  background-color: #3183f6;
  margin: 10% auto;
  padding: 0;
  border: 1px solid #888;
  width: 30%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@keyframes animatetop {
  from {top: -300px; opacity: 0}
  to {top: 0; opacity: 1}
}
form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.title {
  text-align: center;
}
.p-name,
.p-category,
.p-price,
.p-quantity,
.manage,
.pCustomer-id {
  display: flex;
  flex-direction: column;
}
.p-name input,
.p-category input,
.p-price input,
.p-quantity input,
.pCustomer-id input {
  border: none;
  padding: 10px;
}
.btn-manange {
  display: flex;
  justify-content: space-between;
}
.btn-manange button {
  width: 49%;
  padding: 10px;
}
main {
  background-color: #f4f2f2;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(228, 211, 190);
}
.card {
  background-color: #fff;
  width: 15%;
  height: 29%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  box-shadow: 4px 4px 8px #999;
  border-radius: 5px;
}
.card-title {
  height: 50%;
}
.card-title,
.category {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}
.card-img img {
  width: 100%;
  height: 100%;
}
.btn-card {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}
.btn-card button {
  width: 49%;
  padding: 5px;
  border: none;
  border-radius: 4px;
  box-shadow: 4px 3px 8px #999;
}
.add-to-cart {
  background-color: cornflowerblue;
  color: white;
}
.add-to-cart:active {
  background-color: white;
  color: cornflowerblue;
}
.btn-card button:hover {
  cursor: pointer;
}
.most-sell {
  width: 10%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  gap: 10px;
  overflow-y: scroll;
}
.most-sell button {
  border: none;
  padding: 10px;
}
.category-active {
  background-color: cornflowerblue;
  color: white;
}
