* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
a {
  text-decoration: none;
}
nav {
  background-color: rgb(132, 106, 72);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.left .logo img {
  width: 100px;
}
.right {
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style-type: none;
  text-transform: uppercase;
}
.right li {
  color: white;
  padding: 10px;
}
.right li:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(132, 106, 72);
}
.container {
  display: flex;
  height: 91vh;
}
aside {
  background-color: rgb(132, 106, 72);
  width: 30%;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
aside button {
  height: 5%;
}
a {
  height: 5%;
}
aside a > button {
  width: 100%;
  height: 100%;
}
aside a > button:hover {
  cursor: pointer;
}
.dropdown {
  background-color: teal;
  position: absolute;
  top: 151px;
  width: 121px;
  display: none;
}
.dropdown li {
  padding: 10px;
}
main {
  background-color: rgb(234, 224, 224);
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
  overflow-y: scroll;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(228, 211, 190);
}
.card {
  background-color: rgb(188, 173, 154);
  width: 20%;
  height: 39%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}
.card-img {
  background-color: red;
  height: 60%;
}
.card-img img {
  width: 100%;
  height: 100%;
}
.btn-card {
  display: flex;
  justify-content: space-between;
}
.btn-card button {
  width: 49%;
  height: 100%;
  border: none;
}
.btn-card button:hover {
  cursor: pointer;
}
.most-sell {
  width: 10%;
}
